<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050195640753-aqe540kdl6qqh15jhjqf7n3d62cr2irc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050195640753-aqe540kdl6qqh15jhjqf7n3d62cr2irc</string>
	<key>API_KEY</key>
	<string>AIzaSyDxmlXuQqpHxE1TA6VekWM4MIVxvh82OqE</string>
	<key>GCM_SENDER_ID</key>
	<string>1050195640753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidleah.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-bcb3a</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-bcb3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050195640753:ios:12173fa1cf93451c</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-bcb3a.firebaseio.com</string>
</dict>
</plist>